MONGODB_URI=mongodb+srv://<user>:<password>@<collection>.<name>.mongodb.net/?retryWrites=true&w=majority&appName=<appname>
PORT=:9091
SUPABASE_CONN_STRING="user=<user> password=<password> host=<host> port=6543 dbname=<dbname>"
CORS_ORIGIN=http://localhost:3000
